<li class="sound flexrow {{sound.css}}" data-playlist-id="{{sound.playlistId}}" data-sound-id="{{sound._id}}">
  <h4 class="sound-name">{{sound.name}}</h4>
  {{#if playback}}
  {{!-- Now Playing --}}
    <div class="flexrow" style="flex:0 0 100px; margin: 0 0 0 5px;">
      <input class="sound-volume" type="range" title="{{localize 'PLAYLIST.SoundVolume'}}"
        value="{{sound.lvolume}}" min="0" max="1" step="0.05"/>
      <i class="volume-icon fas fa-volume-mute"></i>
    </div>
    <div class="sound-playback flexrow" style="flex-wrap: nowrap; justify-content: space-between;">
        <div class = "tt tooltip">
          <input class="track-tracker" type="range" value="{{sound.trackPercentage}}" min="0" max="100" step="1"/>
          <span class="bottomtooltiptext">
              <span class="current">{{sound.currentTime}}</span>
              <span class="sep">/</span>
              <span class="duration">{{sound.durationTime}}</span>
          </span>
          {{#if sound.markin}}
            <span class="tt mark" style="left:{{sound.markin}}%; margin: 0 0 0 -2px;"><i class="fas fa-angle-right"></i></span>
          {{/if}}
          {{#if sound.markout}}
            <span class="tt mark" style="left:{{sound.markout}}%; margin: 0 0 0 2px;"><i class="fas fa-angle-left"></i></span>
          {{/if}}
        </div>
        {{#if sound.playing}}
          <a class="sound-control pause {{sound.controlCSS}}" data-action="sound-pause" title="{{localize 'PLAYLIST.SoundPause'}}">
            <i class="{{sound.pauseIcon}}"></i>
          </a>
        {{else}}
          <a class="sound-control pause {{sound.controlCSS}}" style="display:none;" data-action="sound-pause" title="{{localize 'PLAYLIST.SoundPause'}}">
            <i class="{{sound.pauseIcon}}"></i>
          </a>
          <a class="sound-control {{sound.controlCSS}}" data-action="sound-play" title="{{localize sound.playTitle}}">
              <i class="{{sound.playIcon}}"></i>
          </a>
        {{/if}}
        {{#if @root.user.isGM}}
        <a class="sound-control {{#unless sound.repeat}}inactive{{/unless}} {{sound.controlCSS}}"
          data-action="sound-repeat" title="{{localize 'PLAYLIST.SoundLoop'}}">
            <i class="fas fa-sync"></i>
        </a>
        {{/if}}
        <a class="sound-control {{sound.controlCSS}}" data-action="sound-stop" title="{{localize 'PLAYLIST.SoundStop'}}">
            <i class="fas fa-times-circle"></i>
        </a>
    </div>
  {{else}}
  {{!-- inside the folders --}}
    <div class="sound-controls flexrow">
        {{#if @root.user.isGM}}
        <a class="sound-control {{#unless sound.repeat}}inactive{{/unless}} {{sound.controlCSS}}"
          data-action="sound-repeat" title="{{localize 'PLAYLIST.SoundLoop'}}">
            <i class="fas fa-sync"></i>
        </a>
        {{/if}}

        {{#if sound.playing}}
        <a class="sound-control {{sound.controlCSS}}" data-action="sound-stop" title="{{localize 'PLAYLIST.SoundStop'}}">
            <i class="{{sound.playIcon}}"></i>
        </a>
        {{else}}
        <a class="sound-control {{sound.controlCSS}}" data-action="sound-play" title="{{localize sound.playTitle}}">
            <i class="{{sound.playIcon}}"></i>
        </a>
        {{/if}}
    </div>
  {{/if}}
</li>